ABOUT-NLS
Makefile
Makefile.in
*~
aclocal.m4
autom4te.cache
build-aux/*
m4/*
config.cache
config.log
config.status
configure
libtool
lib/*
,*
stamp-h[0-9]
stamp-po
doc/user/doc-config.scm
src/skribilo
src/pre-inst-skribilo
src/guile/skribilo/config.scm
