ABOUT-NLS
Makefile
Makefile.in
*~
aclocal.m4
autom4te.cache
build-aux/*
config.cache
config.log
config.status
configure
libtool
lib/*
,*
stamp-h[0-9]
stamp-po
doc/man/skribilo.1
src/skribilo
src/skribilo-config
src/pre-inst-skribilo
src/guile/skribilo/config.scm
*.go
*.go.*
