/user.html
/user-*.html
/user.tex
/user.aux
/user.log
/user.out
/user.dvi
/user.toc
/user.lout
/user.lout.*
/user.li*
/user.ps
/user.pdf
/user.sui
/user.info
/skribilo.info
/*.png
/*.jpg
/*.eps
/lout/front-page.lout
